RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ http://localhost/greencoleta/auth/index.php?url=$1 [QSA,L]

ErrorDocument 403 http://localhost/greencoleta/

Options -Indexes

<Files .env>
    Order allow,deny
    Deny from all
</Files>